<ul class="comments-list">

  <li class="comments-line">
    <div>
      <em class="userName"></em>
      <span class="comment"></span>
    </div>
  </li>
</ul>

<div class="">
  <form class="creat-comment" action="" enctype="application/x-www-form-urlencoded" method="POST">
    <div class="">
        <label for="comment" class="form-label">
          <input type="text" class="form-control" id="comment" name="comment" placeholder="Add a comment" autofocus>
        </label>
    </div>

    <button class="btn send-button close-button" type="submit" value="Upload">            
      <img class="" src="assets/icons/send_FILL0_wght400_GRAD0_opsz48.svg" height="24px" width="24px">
    </button>
  </form>
</div>
 