<ul class="comments-list">
</ul>

<div class="">
  <form class="create-comment" action="" enctype="application/x-www-form-urlencoded" method="POST">
    <label for="comment" class="create-comment--label">
      <textarea rows="2" class="create-comment--textarea" id="comment" name="comment" placeholder="Add a comment" autofocus required></textarea>
    </label>

    <button class="btn send-button" type="submit" value="Upload">            
      <img class="" src="/assets/icons/send_FILL0_wght600_GRAD0_opsz48.svg" height="24px" width="24px">
    </button>
  </form>
</div>
 