  <%- include('partials/head.ejs') %>
  <title>Clusters | Marcel The Outdoor Cat</title>
</head>
<body>
  <header>
    <%- include('partials/header.ejs') %>        
  </header>

  <main id="clusters-page">
    <h4>You will soon be able to form clusters with your friends. And share the locations of all the beautifuls Marcels you come across</h4>
    <img src="assets/demo-Clusters.jpg" alt="">
  </main>

  <footer>
    <%- include('partials/footer.ejs') %>