<%- include('partials/head.ejs') %>
<title>Demo | Marcel The Outdoor Cat</title>
</head>
<body>
<header>
    <%- include('partials/header.ejs') %>        
</header>

<main class="homepage-main">
    <h2 style="margin: 1rem auto; width: fit-content;">Demo of the app</h2>
    <video controls muted style="margin: 1rem auto; display:block;">
      <source src="assets/demo-video-Marcel.m4v" type="video/mp4">
    </video>
</main>

<footer>
    <%- include('partials/footer.ejs') %>