  <%- include('partials/head.ejs') %>
  <title>Explore | Marcel The Outdoor Cat</title>
</head>
<body>
  <header>
    <%- include('partials/header.ejs') %>        
  </header>

  <main id="explore-page">
    <p>Explore page</p>
    <img src="assets/demo-Explore.jpg" alt="">
  </main>

  <footer>
    <%- include('partials/footer.ejs') %>