    <%- include('partials/head.ejs') %>
    <title>Explore | Marcel The Outdoor Cat</title>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>        
    </header>

    <main class="">
      <p>Explore page</p>
    </main>

    <footer>
        <%- include('partials/footer.ejs') %>