  <%- include('partials/head.ejs') %>
  <title>Groups | Marcel The Outdoor Cat</title>
</head>
<body>
  <header>
    <%- include('partials/header.ejs') %>        
  </header>

  <main id="groups-page">
    <div class="groups-container">
      <h4>Groups allow you to share the locations of the cat spottings with your friends.</h4>
      <p>Warning: Every member of your groups will be able to see the location of the pictures you have taken</p>

    </div>
    <img src="assets/demo-Clusters.jpg" alt="">
  </main>

  <footer>
    <%- include('partials/footer.ejs') %>