<%- include('partials/head.ejs') %>
<title>Groups | Marcel The Outdoor Cat</title>
</head>
<body>
<header>
  <%- include('partials/header.ejs') %>        
</header>

<main id="group-page">
  <p>Individual group page</p>
</main>

<footer>
  <%- include('partials/footer.ejs') %>