<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Marcel The Outdoor Cat</title>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>        
    </header>

    <main class="homepage-main">
        <section class="hero-container">
            <div class="hero-title-container">
                <h1>Marcel <span>the outdoor cat</span></h1>
            </div>
            <div class="hero-image-container">
                <img src="assets/cat_logo.png" alt="cat logo">
            </div>
        </section>
    </main>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</body>
</html>
