  <%- include('partials/head.ejs') %>
  <title>Marcel The Outdoor Cat</title>
</head>
<body>
  <header>
    <%- include('partials/header.ejs') %>        
  </header>

  <main id="home-page">
    <section class="hero-container">
      <div class="hero-title-container">
        <h1>Marcel <span>the outdoor cat</span></h1>
      </div>
      <div class="hero-image-container">
        <img src="assets/cat_logo-802x1024.png" alt="cat logo">
      </div>
    </section>
  </main>

  <footer>
    <%- include('partials/footer-copyright.ejs') %>