<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcel</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="assets/favicon.png">
    <script src='js/main.js' defer></script>
</head>
<body>
    <header>
        <nav class="header-navbar">
            <ul class="header-ul">
                <li><a href="#"><img src="assets/pets_FILL1_wght400_GRAD0_opsz48.svg" alt="" class="nav-icon">Activity Feed</a></li>
                <li><a href="#"><img src="assets/explore_FILL1_wght400_GRAD0_opsz48.svg" alt="" class="nav-icon">Explore</a></li>
                <li><a href="#" class="nav-active"><img src="assets/photo_camera_FILL1_wght400_GRAD0_opsz48.svg" alt="" class="nav-icon nav-active">Snap a cat</a></li>
                <li><a href="#"><img src="assets/groups_FILL1_wght400_GRAD0_opsz48.svg" alt="" class="nav-icon">Groups</a></li>
                <li><a href="#" class="off-white"><img src="assets/account_circle_FILL1_wght400_GRAD0_opsz48.svg" alt="" class="nav-icon off-white">Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero-container">
            <div class="hero-title-container">
                <h1>Marcel <span>the outdoor cat</span></h1>
            </div>
            <div class="hero-image-container">
                <img src="assets/cat_logo.png" alt="cat logo">
            </div>
        </section>
    </main>
    <footer>

    </footer>

</body>
</html>
