  <%- include('partials/head.ejs') %>
  <title>Sign-Up | Marcel The Outdoor Cat</title>
</head>
<body>
  <header>
  </header>
  <main id="signup-page">
    <div class="signup-container">
      <section class="signup-logo-container">
        <a href="/"><img src="assets/cat_logo-157x200.png" alt="cat logo"></a>
      </section>
      <section class="form-panel">
        <h1>Sign Up to Marcel</h1>
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach( el => { %>
            <p class="alert alert-danger"><%= el.msg %></p>
          <% }) %>    
        <% } %>
        <% if (locals.messages.info) { %>
          <% messages.info.forEach( el => { %>
            <p class="alert alert-info"><%= el.msg %></p>
          <% }) %>    
        <% } %>
        <form action="/signup" method="POST">
          <div class="form-group">
            <label for="userName">Username (public)</label>
            <input type="text" id="userName" name="userName" placeholder="Username" required autofocus>   
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" id="email" name="email" placeholder="Email" aria-describedby="emailHelp" required autofocus>
            <small id="emailHelp" class="">We will never share your email with anyone else.</small> 
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Password" required>
          </div>
          <button type="submit" >Sign Up</button>
        </form>                
        <p>Already have an account? <a href="/login" class="">Log in</a></p>
      </section>
    </div>
  </main>

  <footer>
      <%- include('partials/footer-copyright.ejs') %>