/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General styling
  /////////////////////// */
:root {
  --clr-back-300: #13212F;
  --clr-back-400: #20303F; /* hsl(209, 33%, 19%) */
  
  --clr-accent-300: #8ab7ff;
  --clr-accent-400: #6889BD;
  
  --clr-neutral-300: #d6e6ff;
  --clr-neutral-400: #a2b7cd;
  --clr-neutral-600: #546a83;  
  
  --ff-body: "Roboto", sans-serif;
}


body {
    background-color: var(--clr-back-300);
    color: var(--clr-neutral-300);
    font-family: var(--ff-body);
}

/* ////////// */
/*   Header   */
/* ////////// */

.header-navbar {
  background-color: var(--clr-back-400);
  width: 100vw;
}
.header-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1em;
  max-width: 48rem;
  min-height: 60px;
  padding: 0 32px;
  margin: 0 auto;
}
.header-li {
  min-width: 60px;
  max-width: calc(100% - 65px);
  flex-grow: 1;  
  padding-top: 8px;
  text-align:center;
}
.header-navbar a {
  text-decoration: none;
  color: var(--clr-neutral-400);
  text-align: center;
}
.header-navbar p {
  padding: 0 0 8px;
}
.nav-icon {
  margin: 0 auto;
}
.header-ul.new-session {
  justify-content: flex-end;
}
.header-li.login,
.header-li.signup {
  max-width: 80px;
  padding-top: 0px;
}
.header-li.login a {
  color: var(--clr-accent-300);
  padding: 10px;
}
.header-li.signup a {
  color: var(--clr-back-300);
  background-color: var(--clr-accent-300);
  padding: 10px;
  border-radius: 5px;
}
.header-li.login:hover a {
  color: var(--clr-accent-400);
}
.header-li.signup:hover a {
  background-color: var(--clr-accent-400);  
}

.header-li.active {
  border-bottom: 3px solid var(--clr-accent-300);
}
.header-navbar a.active {
  color: var(--clr-accent-300);
}
/* ////////// */
/*   Main   */
/* ////////// */

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  color: var(--clr-accent-300);
  /* margin: 0 auto; */
}
h1 > span {
  display: block;
  color: var(--clr-neutral-300);
  padding-left: 2rem;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 72rem;
  height: calc(85vh-60px);
  gap: 1em;
  margin: 0 auto;
  padding: 1rem 3rem;
}
.hero-image-container {
  flex: 1 0 50%;
  max-height: 90%;
}
.hero-title-container {
  flex: 0 0 324px;
  max-width: 100%;
}


/* ////////////////////// */
/*   Log-in and Sign-up   */
/* ////////////////////// */
.login-container,
.signup-container {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  margin: 0 auto;
  padding-top: 4rem;
  text-align: center;
}
.login-logo-container,
.signup-logo-container {
  height: 100px;
  margin: 0 0 3rem;
}
.login-logo-container img,
.signup-logo-container img {
  max-height: 100%;
  margin: 0 auto;
}
.login-panel,
.signup-panel {
  background-color: var(--clr-back-400);
  border-radius: 8px;
  padding: 2rem 2rem 1.5rem;
}
.login-panel h1,
.signup-panel h1 {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.login-panel form,
.signup-panel form {
  padding-bottom: 2rem;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {  
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 5px;  
}
.form-group input {
  height: 44px;
  box-shadow: inset 0 1px 2px var(--clr-neutral-600);
  display: block;
  width: 100%;
  padding: 6px 12px;
  border: 1px solid var(--clr-neutral-300);
  border-radius: 4px;
  background-color: var(--clr-back-400);
  color: var(--clr-neutral-300);
}
.form-group input:focus {  
  border: 2px solid var(--clr-accent-300);
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(203,203,210,0.2),0 0 4px rgba(121,88,159,0.3);
}
.login-panel button,
.signup-panel button {  
  color: var(--clr-back-400);
  background-color: var(--clr-accent-300);
  font-size: 1.1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  cursor: pointer;
}
.login-panel button:hover,
.signup-panel button:hover {
  background-color: var(--clr-accent-400);
}
.login-panel a,
.signup-panel a {
  color: var(--clr-accent-300);
}
